body {
  background-color: #288d26;
}

.vehicle {
  position: absolute;
  left: 0;
  top: 0;
}

img {
  width: 10rem;
}

.right {
  transform: none;
}

.up {
  transform: rotate(-90deg);
}

.left {
  transform: rotate(-180deg);
}

.down {
  transform: rotate(90deg);
}
